.h1.center= invitation_list.title
.h4.center
  = link_to invitation_list.event_title, invitation_list.event

.invitation-list__contacts
  .h4= "Who would you like to invite to #{invitation_list.event_title}?"
