<li v-for="contact in filteredContacts">
  <div class="flex items-center bg-white t-row">
    <div class="t-row-highlight mr-1"></div>
    <div class="mailing-list__contact-name flex-auto">
      <a v-bind:href="'/contacts/' + contact.id">{{contact.name}}</a>
      <span class="h6 block sm:inline sm:text-base text-sm">{{contact.city}}, {{contact.state}}</span>
    </div>
    <div class="mr-2 cursor">
      <i @click="showContactModalWith(contact)" class="fa fa-address-card-o fs-1-3 c-mid" aria-hidden="true"></i>
    </div>
    <div class="mailing-list__contact-included flex-none w-12 sm:w-24">
      <input
        type="checkbox"
        class="m0"
        v-bind:checked="contact.assignment_id"
        v-bind:id="'contact_included_' + contact.id"
        @click="addToList(contact)"
        />
    </div>
    <div class="flex-none w-12 sm:w-24">
      <input
        type="checkbox"
        v-bind:checked="contact.is_blocked"
        v-bind:disabled="!contact.assignment_id"
        v-bind:id="'action_blocked' + contact.id"
        @click="markAsBlocked(contact)"
        />
    </div>
    <div class="mailing-list__contact-complete flex-none w-12 sm:w-24">
      <input type="checkbox"
        v-bind:checked="contact.is_complete"
        v-bind:disabled="!contact.assignment_id || contact.is_blocked"
        v-bind:id="'action_complete' + contact.id"
        @click="markActionComplete(contact)"
        />
    </div>
  </div>
</li>
