.max-w-lg.mx-auto
  .flex.items-center.mt-4.mb-6
    .font-bold.mr-2.text-4xl= mailing_list.title
    = link_to mailing_list.event_title, mailing_list.event

  %div{ class: "mailing_list__contacts", data: { turbolinks: "false" } }
    #mailing_list__contacts-list
      .flex.pt-2
        %input{ "class" => "p-2 w-full",
        "placeholder" => "Search...",
        "v-model" => "search",
        }
        .flex.pl-2
          .flex.flex-col.items-center
            .pb-1.uppercase.text-xs Filter
            %a{ class: "no-underline py-1 px-2 rounded-full border text-sm",
            "href" => "#filter",
            "@click" => "toggleAddedFilter",
            "v-bind:class" => "{ 'bg-blue text-white': filterByAdded }" } Added
          .flex.ml-2
            %a{ class: "border m-auto h-8 flex items-center justify-center no-underline rounded-full text-grey text-xl w-8",
            "href" => "#",
            "@click.prevent" => "clearFilters",
            "v-show" => "filterByAdded || search",
            }= raw("&times")
      .text-sm.pt-2
        {{ numberOfAssignedContacts }} contacts assigned to mailing list.
      .header.flex.p-2
        .flex-auto.bold Name
        .mailing-list__contact-assignment.width-8.bold
          Add to List?
        .mailing-list__contact-action-complete.width-8.bold
          Action Complete?

      %ul.list-reset.my-0
        = render "mailing_list_contact_js_template"


:javascript
  window._contacts = #{raw mailing_list.contacts.to_json};
