.h1.center= event.event_title
.mailing-list
  .h3.inline Mailing List
  = link_to "New", new_event_mailing_list_path(event)
  - event.mailing_lists.each do |list|
    .mailing_list_link
      = link_to list.title, list
