.h1.center= event.event_title
.invitation-list
  .h3.inline Invitation List
  = link_to "New", new_event_invitation_list_path(event)
  - event.invitation_lists.each do |list|
    .invitation_list_link
      = link_to list.title, list
