.events.flex.flex-wrap
  = render "event_group", title: "Upcoming Events", events: events, no_events_msg: "No upcoming events"
  = render "event_group", title: "Previous Events", events: previous_events, no_events_msg: "No previous events"
  = render "event_group", title: "Floating Events", events: floating_events, no_events_msg: ""
