.btn {
  // font-family: var(--button-font-family);
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  // line-height: var(--button-line-height);
  padding: 5px 8px;
  margin: 0;
  height: auto;
  border: 1px solid transparent;
  vertical-align: middle;
  -webkit-appearance: none;
  color: #fff;
  background-color: $primary-btn;
}

.btn:hover {
  text-decoration: none;
}

.btn:focus {
  outline: none;
  // box-shadow: 0 0 0 3px var(--darken-3);
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  max-width: 100%;
  width: 100%;
}

th {
  text-align: left;
  font-weight: var(--table-header-font-weight);
}

th,
td {
  padding: .5rem 1rem;
  line-height: inherit;

  @media (max-width: 500px) {
    padding: .25rem;
  }
}

th { vertical-align: bottom; font-weight: 500; }
td { vertical-align: top }

.table-light {
  font-size: .9em;
  th, td {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0,0,0,.125);
  }
}

@media (max-width: 40em) {
  .sm-flex-column { flex-direction: column; }
}
