//$primary: #41AFB3;
//$primary: #9CBDC5;
$primary: #7FCBCF;
$primary-btn: #0B64A4;
$white: #fff;
$dark: #4D545D;
$light: #EFEFEE;
$mid: #DBDCDD;
$black: #283339;

.bg-dark { background-color: $dark }
.bg-light { background-color: $light }
.bg-white { background-color: $white }
.border-mid { border: 1px solid $mid }
.c-white { color: $white }
.c-light { color: $light }
.c-mid { color: $mid }
