.contact {
  &.highlight {
    background-color: darken($white, 5%);
  }
  &__map {
    min-height: 250px;
  }
}

.upload {
  background-color: $white;
  transition: background-color .2s ease-in-out;
  &:hover {
    background-color: darken($white, 2%);
  }
  &__undo {
    padding: 5px;
    background-color: $primary;
    color: $white;
  }
}

/******************************************************************************
* CONTACT CARD
******************************************************************************/

.contact-card {
  &__header {
    min-height: 200px;
    background-color: $dark;
    position: relative;
  }
  &__user-icon {
    align-items: center;
    background-color: $white;
    border-radius: 50%;
    display: flex;
    font-size: 12rem;
    height: 12.5rem;
    justify-content: center;
    margin: 0 auto;
    left: 0;
    position: absolute;
    right: 0;
    top: -6.25rem;
    width: 12.5rem;
  }
  &__body {
    padding-top: 6.25rem;
    position: relative;
  }
}
