.modal-overlay {
  background-color: rgba(10, 10, 10, 0.86);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  &.show {
    display: flex;
  }
}
.modal {
  position: relative;
  width: 100%;
  min-height: 200px;
  max-width: 600px;
  background-color: white;
  &__body {
    padding: 10px;
  }
}

.modal__spinner--overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  img {
    width: 30px;
  }
}
.modal__close {
  font-size: 2em;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  z-index: 1000;
  &:hover {
    cursor: pointer;
  }
}
