<!DOCTYPE html>
<html>
  <head>
    <title>TML2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <div class="modal" data-behavior='modal'>
      <div class="modal-body"></div>
    </div>
  </body>
</html>
